<li class="blog-post articles-item grid">
    <article class="two-thirds">
        <div class="fimg one-third" style="background-image: url(<%- item.fimg %>); background-size: cover;    background-position: center;"></div>
        <section>
            <h2 class="blog-post-title">
                <a href="<%- config.root %><%- item.path %>">
                    <%- item.title %>
                </a>
            </h2>
            <p class="blog-post-meta">
                publié le <%= item.date.locale('fr').format(config.date_format) %>
                    <% if(item.author) { %>
                        par <%- item.author %>
                    <% } %>
            </p>
            <ul>
                <%- partial('_partial/article-excerpt-categories', {item: item}) %>
            </ul>
        </section>
    </article>
</li>