<section class="blog-post max-width">
    <% if (item.fimg) { %>
        <img src="<%= item.fimg %>" alt="image à la une">
    <% } %>
    <header>
        
        <!-- Title -->
        <h1 class="blog-post-title">
            <a href="<%- config.root %><%- item.path %>">
                <%- item.title || item.link%></a>
        </h1>
        <!-- Date and Author -->
        <p class="blog-post-meta">
            le <%= item.date.locale('fr').format(config.date_format) %>
            <% if(item.author) { %>
                par <%- item.author %>
            <% } %>
        </p>
    </header>
    <article>
        <!-- Content -->
        <%- item.content %>
    </article>
    <footer>
        <!-- Tags and Categories links -->
        
        <%- partial('_partial/article-excerpt-categories', {item: item}) %>

    </footer>
</section>