
<nav id="main-nav" class="max-width">
        <a href="<%= config.url %>">
            <img src="/images<%= theme.logo.url %>" alt="<%= theme.logo.alt %>" height="48px" width="48px">
        </a>
        <ul class="unstyled">
            <li class="<% if(path.indexOf('cv') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'cv' %>">Pour les parents</a></li>
            <li class="<% if(path.indexOf('blog') > -1) { %> <%= 'active' %> <% } %>"><a href="<%- config.root + 'blog' %>">Pour le bébé</a></li>
        </ul>
</nav>
